:colors{
  --background: #fffffe;
  --letters: #A8A897;
  --secundary: #F5F5E9;
  --hover :#F5F5DC;

}

html{
  font-size: 62,5%;
}

#root{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 80px 60px 40px 1fr 50px;
  background-color: #F5F5F5;
  
}